swagger: '2.0'
info:
  version: 1.0.0
  title: IT Glue
  description: |-
    # OpenAPI 2.0 / Swagger Definition for IT Glue API Endpoints
    #### Formatted for compatibility with Swagger Editor for Power Automate custom connectors

    > This file is the EXPERIMENTAL BRANCH of this implementation. Portions are under development and may not work, are probably broken, may cause unexpected results, including but not limited to the accidental deletion of all your mom's data, panic inducing hot flashes, general malevolence, and world-ending split ends in your hair.
    >
    > In general Endpoints will move from Experimental > Development > Stable as they are developed.
    >
    > **AS-IS AND NO WARRANTY - USE AT YOUR OWN RISK!**
    >
    > For API  support, contact IT Glue directly. 

    Copyright 2021 ZetaOne, Inc.
    Author: Jeremy G Hodge mailto:jeremy.hodge@zetaone.com

    Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.
  contact:
    name: IT Glue
    url: 'http://www.itglue.com'
    email: support@itglue.com
  termsOfService: 'https://api.itglue.com/developer'
  license:
    name: Apache 2.0
    url: ' http://www.apache.org/licenses/LICENSE-2.0'
host: api.itglue.com
schemes:
  - https
consumes: []
produces:
  - application/json
paths:
  /configuration_types:
    get:
      summary: List Configuration Types
      description: |-
        Returns a list of configuration types in your account.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
      operationId: List_configuration_types
      parameters:
        - $ref: '#/parameters/page-size'
        - $ref: '#/parameters/page-number'
        - type: string
          in: query
          name: 'filter[name]'
          description: Filter the results by the Name Field. Exact match only.
          x-ms-summary: Name Field Filter
          x-ms-visibility: advanced
        - type: string
          in: query
          name: sort
          description: 'Select the field to sort by. Ascending by fieldname, descending by -fieldname.'
          enum:
            - name
            - id
            - created_at
            - updated_at
            - '-name'
            - '-id'
            - '-created_at'
            - '-updated_at'
          x-ms-summary: Sort Order
          x-ms-visibility: advanced
      responses:
        '200':
          description: default
          schema:
            type: object
            properties:
              data:
                type: array
                description: data
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: id
                    type:
                      type: string
                      description: type
                    attributes:
                      type: object
                      description: attributes
                      properties:
                        name:
                          type: string
                          description: name
                        created-at:
                          type: string
                          description: created-at
                        updated-at:
                          type: string
                          description: updated-at
              meta:
                type: object
                description: meta
                properties:
                  current-page:
                    type: integer
                    format: int32
                    description: current-page
                  next-page:
                    type: integer
                    format: int32
                    description: next-page
                  prev-page:
                    type: integer
                    format: int32
                    description: prev-page
                  total-pages:
                    type: integer
                    format: int32
                    description: total-pages
                  total-count:
                    type: integer
                    format: int32
                    description: total-count
                  filters:
                    type: object
                    description: filters
                    properties:
                      '':
                        type: string
              links:
                type: object
                description: links
                properties:
                  self:
                    type: string
                    description: self
                  first:
                    type: string
                    description: first
                  prev:
                    type: string
                    description: prev
                  next:
                    type: string
                    description: next
                  last:
                    type: string
                    description: last
          examples: {}
        '401':
          description: Unauthorized
          schema:
            type: object
            properties: {}
      tags:
        - Configuration Types
    post:
      responses:
        '200':
          description: default
          schema:
            description: ''
            type: object
            properties:
              data:
                type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  type:
                    type: string
                    minLength: 1
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                        minLength: 1
                      configurations-count:
                        type: number
                      created-at:
                        type: string
                        minLength: 1
                      updated-at:
                        type: string
                        minLength: 1
                    required:
                      - name
                      - configurations-count
                      - created-at
                      - updated-at
                required:
                  - id
                  - type
                  - attributes
            required:
              - data
          examples: {}
        '401':
          description: Unauthorized
          schema:
            type: object
            properties: {}
        '403':
          description: Forbidden
          schema:
            type: object
            properties: {}
        '415':
          description: Unsupported Media Type
          schema:
            type: object
            properties: {}
        '422':
          description: Unprocessable Entity (WebDAV)
          schema:
            type: object
            properties: {}
      summary: Create a Configuration Type
      description: |-
        Creates a new configuration type in your account. Returns the created object if successful.

        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
      operationId: Post_configuration_type
      parameters:
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    description: type
                    title: type
                    x-ms-visibility: internal
                    default: configuration-types
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                        description: name
                    description: attributes
                description: data
                required:
                  - type
            required:
              - data
          x-examples: {}
      tags:
        - Configuration Types
  '/configuration_types/{object_id}':
    get:
      summary: Get a Configuration Type
      operationId: Get_configuration_type
      description: |-
        Returns the details of an existing configuration type.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
      parameters:
        - $ref: '#/parameters/object_id'
      responses:
        '200':
          description: OK
          schema:
            description: ''
            type: object
            properties:
              data:
                type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  type:
                    type: string
                    minLength: 1
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                        minLength: 1
                      configurations-count:
                        type: number
                      created-at:
                        type: string
                        minLength: 1
                      updated-at:
                        type: string
                        minLength: 1
                    required:
                      - name
                      - configurations-count
                      - created-at
                      - updated-at
                required:
                  - id
                  - type
                  - attributes
            required:
              - data
          examples: {}
        '401':
          description: Unauthorized
          schema:
            type: object
            properties: {}
        '404':
          description: Not Found
          schema:
            type: object
            properties: {}
      tags:
        - Configuration Types
    parameters: []
  /flexible_asset_types:
    get:
      responses:
        '200':
          description: default
          schema:
            description: ''
            type: object
            properties:
              data:
                type: array
                uniqueItems: true
                minItems: 1
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      minLength: 1
                    type:
                      type: string
                      minLength: 1
                    attributes:
                      type: object
                      properties:
                        name:
                          type: string
                          minLength: 1
                        description:
                          type: string
                          minLength: 1
                        created-at:
                          type: string
                          minLength: 1
                        updated-at:
                          type: string
                          minLength: 1
                        icon:
                          type: string
                          minLength: 1
                        enabled:
                          type: boolean
                    relationships:
                      type: object
                      properties:
                        flexible-asset-fields:
                          type: object
                          properties:
                            data:
                              type: array
                              uniqueItems: true
                              minItems: 1
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    minLength: 1
                                  type:
                                    type: string
                                    minLength: 1
                                required:
                                  - id
                                  - type
                  required:
                    - id
                    - type
              included:
                type: array
                uniqueItems: true
                minItems: 1
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      minLength: 1
                    type:
                      type: string
                      minLength: 1
                    attributes:
                      type: object
                      properties:
                        order:
                          type: number
                        name:
                          type: string
                          minLength: 1
                        kind:
                          type: string
                          minLength: 1
                        hint:
                          type: string
                          minLength: 1
                        decimals:
                          type: number
                        tag-type: {}
                        required:
                          type: boolean
                        use-for-title:
                          type: boolean
                        expiration:
                          type: boolean
                        show-in-list:
                          type: boolean
                        name-key:
                          type: string
                          minLength: 1
                        created-at:
                          type: string
                          minLength: 1
                        updated-at:
                          type: string
                          minLength: 1
                        flexible-asset-type-id:
                          type: number
                        default-value:
                          type: string
                          minLength: 1
                    relationships:
                      type: object
                      properties:
                        flexible-asset-type:
                          type: object
                          properties:
                            data:
                              type: object
                              required:
                                - id
                                - type
                              properties:
                                id:
                                  type: string
                                  minLength: 1
                                type:
                                  type: string
                                  minLength: 1
              meta:
                type: object
                properties:
                  current-page:
                    type: number
                  next-page:
                    type: number
                  prev-page:
                    type: number
                  total-pages:
                    type: number
                  total-count:
                    type: number
                  filters:
                    type: object
              links:
                type: object
                properties:
                  self:
                    type: string
                    minLength: 1
                  first:
                    type: string
                    minLength: 1
                  prev:
                    type: string
                    minLength: 1
                  next:
                    type: string
                    minLength: 1
                  last:
                    type: string
                    minLength: 1
            required:
              - data
              - meta
              - links
        '401':
          description: Unauthorized
          schema:
            type: object
            properties: {}
      summary: List Flexible Asset Types
      operationId: List_flexible_asset_types
      externalDocs:
        description: Learn More...
        url: 'https://api.itglue.com/developer#flexible-asset-types-index'
      parameters:
        - $ref: '#/parameters/page-size'
        - $ref: '#/parameters/page-number'
        - type: number
          in: query
          name: 'filter[id]'
          x-ms-summary: Filter by ID
          description: Filter the list based on an Object ID
          x-ms-visibility: advanced
        - type: string
          in: query
          name: 'filter[name]'
          x-ms-summary: Filter by Name
          description: Filter the list based on the Type's name field
          x-ms-visibility: advanced
        - type: string
          in: query
          name: 'filter[icon]'
          x-ms-summary: Filter by Icon
          description: Filter the list based on the Type's icon field
          x-ms-visibility: advanced
        - type: string
          in: query
          name: 'filter[enabled]'
          x-ms-summary: Filter by Enabled
          description: Filter the list based on the Type's enabled status
          x-ms-visibility: advanced
        - type: string
          in: query
          name: sort
          x-ms-summary: Sort Order
          description: 'Sort the list based on one of id, name, created_at, or updated_at fields'
          x-ms-visibility: advanced
        - type: string
          in: query
          name: include
          x-ms-summary: Include
          description: Expand the results to also include flexible_asset_fields
          x-ms-visibility: advanced
      description: |-
        Returns a list of flexible asset types in your account.

        > Fully Implemented.
      tags:
        - Flexible Asset Types
    post:
      responses:
        '200':
          description: default
          schema: {}
      summary: Create a Flexible Asset Type
      operationId: Post_flexible_asset_type
      description: |-
        Creates a new flexible asset type in your account. Returns the created object if successful. Use the nested relationships route to add multiple flexible asset fields to a flexible asset type in bulk.


        > NOT COMPLETE.
        >
        > 1. ~~Verify Summary~~
        > 1. ~~Verify Description~~
        > 1. ~~Verify OperationID naming and format conventions~~
        > 1. ~~Verify Query Parameters~~
        > 1. ~~Separate local vs global params~~
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
      parameters:
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    description: type
                    title: ''
                    x-ms-visibility: internal
                    default: flexible_asset_types
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                        description: name
                      description:
                        type: string
                        description: description
                      icon:
                        type: string
                        description: icon
                      show-in-menu:
                        type: boolean
                        description: show-in-menu
                    description: attributes
                  relationships:
                    type: object
                    properties:
                      flexible-asset-fields:
                        type: object
                        properties:
                          data:
                            type: array
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                  description: type
                                  title: ''
                                  x-ms-visibility: internal
                                  default: flexible_asset_fields
                                attributes:
                                  type: object
                                  properties:
                                    order:
                                      type: integer
                                      format: int32
                                      description: order
                                    name:
                                      type: string
                                      description: name
                                    kind:
                                      type: string
                                      description: kind
                                    hint:
                                      type: string
                                      description: hint
                                    tag-type:
                                      type: string
                                      description: tag-type
                                    required:
                                      type: boolean
                                      description: required
                                    show-in-list:
                                      type: boolean
                                      description: show-in-list
                                    default-value:
                                      type: string
                                      description: default-value
                                    use-for-title:
                                      type: boolean
                                      description: use-for-title
                                  description: attributes
                              required:
                                - type
                            description: data
                        description: flexible-asset-fields
                        required:
                          - data
                    description: relationships
                    required:
                      - flexible-asset-fields
                description: data
                required:
                  - type
                  - relationships
            required:
              - data
      tags:
        - Flexible Asset Types
  '/flexible_asset_types/{parent_id}/relationships/flexible_asset_fields':
    get:
      parameters:
        - $ref: '#/parameters/parent_id'
      responses:
        '200':
          description: default
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: id
                    type:
                      type: string
                      description: type
                    attributes:
                      type: object
                      properties:
                        order:
                          type: integer
                          format: int32
                          description: order
                        name:
                          type: string
                          description: name
                        kind:
                          type: string
                          description: kind
                        hint:
                          type: string
                          description: hint
                        decimals:
                          type: integer
                          format: int32
                          description: decimals
                        tag-type:
                          type: string
                          description: tag-type
                        required:
                          type: boolean
                          description: required
                        use-for-title:
                          type: boolean
                          description: use-for-title
                        expiration:
                          type: boolean
                          description: expiration
                        show-in-list:
                          type: boolean
                          description: show-in-list
                        name-key:
                          type: string
                          description: name-key
                        created-at:
                          type: string
                          description: created-at
                        updated-at:
                          type: string
                          description: updated-at
                        flexible-asset-type-id:
                          type: integer
                          format: int32
                          description: flexible-asset-type-id
                        default-value:
                          type: string
                          description: default-value
                      description: attributes
                    relationships:
                      type: object
                      properties:
                        flexible-asset-type:
                          type: object
                          properties:
                            data:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: id
                                type:
                                  type: string
                                  description: type
                              description: data
                          description: flexible-asset-type
                      description: relationships
                description: data
      summary: List Flexible Asset Fields
      description: |-
        Returns a list of fields for the specified flexible asset type.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
      operationId: List_flexible_asset_fields
      tags:
        - Flexible Asset Types
        - Flexible Asset Fields
  /organizations:
    get:
      responses:
        '200':
          description: default
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: id
                    type:
                      type: string
                      description: type
                    attributes:
                      type: object
                      properties:
                        psa-integration:
                          type: string
                          description: psa-integration
                        name:
                          type: string
                          description: name
                        alert:
                          type: string
                          description: alert
                        description:
                          type: string
                          description: description
                        organization-type-id:
                          type: integer
                          format: int32
                          description: organization-type-id
                        organization-type-name:
                          type: string
                          description: organization-type-name
                        organization-status-id:
                          type: integer
                          format: int32
                          description: organization-status-id
                        organization-status-name:
                          type: string
                          description: organization-status-name
                        my-glue-account-id:
                          type: string
                          description: my-glue-account-id
                        primary:
                          type: boolean
                          description: primary
                        quick-notes:
                          type: string
                          description: quick-notes
                        short-name:
                          type: string
                          description: short-name
                        created-at:
                          type: string
                          description: created-at
                        updated-at:
                          type: string
                          description: updated-at
                        my-glue-account-status:
                          type: string
                          description: my-glue-account-status
                        logo:
                          type: string
                          description: logo
                      description: attributes
                    relationships:
                      type: object
                      properties:
                        adapters-resources:
                          type: object
                          properties:
                            data:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: id
                                  type:
                                    type: string
                                    description: type
                              description: data
                          description: adapters-resources
                      description: relationships
                description: data
              meta:
                type: object
                properties:
                  current-page:
                    type: integer
                    format: int32
                    description: current-page
                  next-page:
                    type: integer
                    format: int32
                    description: next-page
                  prev-page:
                    type: integer
                    format: int32
                    description: prev-page
                  total-pages:
                    type: integer
                    format: int32
                    description: total-pages
                  total-count:
                    type: integer
                    format: int32
                    description: total-count
                  filters:
                    type: object
                    properties:
                      id:
                        type: object
                        properties:
                          permitted-values:
                            type: array
                            items: {}
                            description: permitted-values
                        description: id
                      name:
                        type: object
                        properties:
                          permitted-values:
                            type: array
                            items: {}
                            description: permitted-values
                        description: name
                      organization-type-id:
                        type: object
                        properties:
                          permitted-values:
                            type: array
                            items:
                              type: object
                              properties:
                                value:
                                  type: integer
                                  format: int32
                                  description: value
                                data:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                      description: name
                                  description: data
                            description: permitted-values
                        description: organization-type-id
                      organization-status-id:
                        type: object
                        properties:
                          permitted-values:
                            type: array
                            items:
                              type: object
                              properties:
                                value:
                                  type: integer
                                  format: int32
                                  description: value
                                data:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                      description: name
                                  description: data
                            description: permitted-values
                        description: organization-status-id
                      created-at:
                        type: object
                        properties:
                          permitted-values:
                            type: array
                            items: {}
                            description: permitted-values
                        description: created-at
                      updated-at:
                        type: object
                        properties:
                          permitted-values:
                            type: array
                            items: {}
                            description: permitted-values
                        description: updated-at
                      my-glue-account-id:
                        type: object
                        properties:
                          permitted-values:
                            type: array
                            items: {}
                            description: permitted-values
                        description: my-glue-account-id
                    description: filters
                description: meta
              links:
                type: object
                properties:
                  self:
                    type: string
                    description: self
                  first:
                    type: string
                    description: first
                  prev:
                    type: string
                    description: prev
                  next:
                    type: string
                    description: next
                  last:
                    type: string
                    description: last
                description: links
      summary: List Organizations
      description: |-
        Returns a list of organizations in your account.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
      operationId: List_organizations
      parameters:
        - name: 'filter[id]'
          in: query
          required: false
          type: integer
        - name: 'filter[exclude][id]'
          in: query
          required: false
          type: integer
        - name: 'filter[name]'
          in: query
          required: false
          type: string
        - name: 'filter[exclude][name]'
          in: query
          required: false
          type: string
        - name: 'filter[organization_type_id]'
          in: query
          required: false
          type: integer
        - name: 'filter[exclude][organization_type_id]'
          in: query
          required: false
          type: integer
        - name: 'filter[organization_status_id]'
          in: query
          required: false
          type: integer
        - name: 'filter[exclude][organization_status_id]'
          in: query
          required: false
          type: integer
        - name: 'filter[created_at]'
          in: query
          required: false
          type: string
        - name: 'filter[updated_at]'
          in: query
          required: false
          type: string
        - name: 'filter[my_glue_account_id]'
          in: query
          required: false
          type: integer
        - name: 'filter[range][my_glue_account_id]'
          in: query
          required: false
          type: string
        - name: 'filter[psa_id]'
          in: query
          required: false
          type: string
        - name: 'filter[psa_integration_type]'
          in: query
          required: false
          type: string
          enum:
            - manage
            - autotask
            - tigerpaw
            - kaseya-bms
            - pulseway-psa
            - vorex
        - name: 'filter[group_id]'
          in: query
          required: false
          type: integer
        - name: sort
          in: query
          type: string
          required: false
          enum:
            - name
            - id
            - created_at
            - updated_at
            - organization_status_name
            - organization_type_name
            - short_name
            - my_glue_account_id
            - '-name'
            - '-id'
            - '-created_at'
            - '-updated_at'
            - '-organization_status_name'
            - '-organization_type_name'
            - '-short_name'
            - '-my_glue_account_id'
          description: 'Sort the returned list ascending by the selected field, or descending if the negative field selected (e.g. -name) '
        - name: page-size
          in: query
          required: false
          type: integer
        - name: page-number
          in: query
          required: false
          type: integer
        - name: include
          in: query
          required: false
          type: string
          enum:
            - adapters_resources
            - attachments
      tags:
        - Organizations
    post:
      responses:
        '200':
          description: default
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    description: type
                  attributes:
                    type: object
                    properties:
                      id:
                        type: integer
                        format: int32
                        description: id
                      name:
                        type: string
                        description: name
                      alert:
                        type: string
                        description: alert
                      description:
                        type: string
                        description: description
                      organization-type-id:
                        type: integer
                        format: int32
                        description: organization-type-id
                      organization-status-id:
                        type: integer
                        format: int32
                        description: organization-status-id
                      quick-notes:
                        type: string
                        description: quick-notes
                      short_name:
                        type: string
                        description: short_name
                    description: attributes
                description: data
      summary: Create an Organization
      operationId: Post_organization
      description: |-
        Creates an organization. Returns the created object if successful.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
      parameters:
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    description: type
                    title: ''
                    x-ms-visibility: internal
                    default: organizations
                  attributes:
                    type: object
                    properties:
                      id:
                        type: integer
                        format: int32
                        description: id
                      name:
                        type: string
                        description: name
                        title: ''
                      alert:
                        type: string
                        description: alert
                      description:
                        type: string
                        description: description
                      organization-type-id:
                        type: integer
                        format: int32
                        description: organization-type-id
                      organization-status-id:
                        type: integer
                        format: int32
                        description: organization-status-id
                      quick-notes:
                        type: string
                        description: quick-notes
                      short_name:
                        type: string
                        description: short_name
                    description: attributes
                    required:
                      - name
                description: data
                required:
                  - attributes
                  - type
            required:
              - data
      tags:
        - Organizations
  '/organizations/{object_id}':
    get:
      responses:
        '200':
          description: default
          schema: {}
      summary: Get an Organization
      description: |-
        Returns the details of an existing organization.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
      operationId: Get-organization
      parameters:
        - $ref: '#/parameters/object_id'
        - name: include
          in: query
          required: false
          type: string
          description: Comma separated list of values to expand and include the related items. Values must be one of adapters_resources or attachments
          format: string
      tags:
        - Organizations
    patch:
      responses:
        '200':
          description: default
          schema: {}
      summary: Update an Organization
      description: |-
        Updates the details of an existing organization. Returns 422 Bad Request error if trying to update an externally synced record on attributes other than: alert, description, quick_notes. A PATCH request does not require that the entire object resource with all of its attributes be enclosed. Any attributes you don't specify will remain unchanged.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
      operationId: Patch-organization
      parameters:
        - $ref: '#/parameters/object_id'
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    description: Record Type
                    title: type
                    x-ms-visibility: internal
                    default: organizations
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                        description: name
                      alert:
                        type: string
                        description: alert
                      description:
                        type: string
                        description: description
                      short_name:
                        type: string
                        description: short_name
                      organization-type-id:
                        type: integer
                        format: int32
                        description: organization-type-id
                      organization-status-id:
                        type: integer
                        format: int32
                        description: organization-status-id
                      quick-notes:
                        type: string
                        description: quick-notes
                      short-name:
                        type: string
                        description: short-name
                    description: attributes
                description: data
                required:
                  - type
            required:
              - data
      tags:
        - Organizations
    parameters: []
  /organization_types:
    get:
      responses:
        '200':
          description: default
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: id
                    type:
                      type: string
                      description: type
                    attributes:
                      type: object
                      properties:
                        name:
                          type: string
                          description: name
                        created-at:
                          type: string
                          description: created-at
                        updated-at:
                          type: string
                          description: updated-at
                        synced:
                          type: boolean
                          description: synced
                      description: attributes
                description: data
              meta:
                type: object
                properties:
                  current-page:
                    type: integer
                    format: int32
                    description: current-page
                  next-page:
                    type: integer
                    format: int32
                    description: next-page
                  prev-page:
                    type: integer
                    format: int32
                    description: prev-page
                  total-pages:
                    type: integer
                    format: int32
                    description: total-pages
                  total-count:
                    type: integer
                    format: int32
                    description: total-count
                  filters:
                    type: object
                    properties: {}
                    description: filters
                description: meta
              links:
                type: object
                properties:
                  self:
                    type: string
                    description: self
                  first:
                    type: string
                    description: first
                  prev:
                    type: string
                    description: prev
                  next:
                    type: string
                    description: next
                  last:
                    type: string
                    description: last
                description: links
      summary: List Organization Types
      description: |-
        Returns a list of organizations in your account.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
      operationId: List-organization-types
      parameters:
        - name: 'filter[name]'
          in: query
          required: false
          type: string
        - name: sort
          in: query
          required: false
          type: string
          enum:
            - name
            - id
            - created_at
            - updated_at
        - name: page-size
          in: query
          required: false
          type: integer
        - name: page-number
          in: query
          required: false
          type: integer
      tags:
        - Organization Types
    post:
      responses:
        '200':
          description: default
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  id:
                    type: string
                    description: id
                  type:
                    type: string
                    description: type
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                        description: name
                      created-at:
                        type: string
                        description: created-at
                      updated-at:
                        type: string
                        description: updated-at
                    description: attributes
                description: data
      summary: Create an Organization Type
      description: |-
        Creates a new organization type in your account. Returns the created object if successful.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
      operationId: Post-organization-type
      parameters:
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    description: type
                    title: ''
                    x-ms-visibility: internal
                    default: organizational-types
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                        description: name
                    description: attributes
                description: data
                required:
                  - type
            required:
              - data
      tags:
        - Organization Types
  '/organization_types/{object_id}':
    get:
      parameters:
        - $ref: '#/parameters/object_id'
      responses:
        '200':
          description: default
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  id:
                    type: string
                    description: id
                  type:
                    type: string
                    description: type
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                        description: name
                      created-at:
                        type: string
                        description: created-at
                      updated-at:
                        type: string
                        description: updated-at
                    description: attributes
                description: data
      summary: Get an Organization Type
      description: |-
        Returns the details of an existing organization type.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
      operationId: Get-organization-type
      tags:
        - Organization Types
    patch:
      responses:
        '200':
          description: default
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  id:
                    type: string
                    description: id
                  type:
                    type: string
                    description: type
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                        description: name
                      created-at:
                        type: string
                        description: created-at
                      updated-at:
                        type: string
                        description: updated-at
                    description: attributes
                description: data
      summary: Update an Organization Type
      description: |-
        Updates an organization type in your account. Returns 422 Bad Request error if trying to update an externally synced record.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
      operationId: Patch-organization-type
      parameters:
        - $ref: '#/parameters/object_id'
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    description: type
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                        description: name
                    description: attributes
                description: data
      tags:
        - Organization Types
    parameters: []
  /organization_statuses:
    get:
      responses:
        '200':
          description: default
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: id
                    type:
                      type: string
                      description: type
                    attributes:
                      type: object
                      properties:
                        name:
                          type: string
                          description: name
                        created-at:
                          type: string
                          description: created-at
                        updated-at:
                          type: string
                          description: updated-at
                        synced:
                          type: boolean
                          description: synced
                      description: attributes
                description: data
              meta:
                type: object
                properties:
                  current-page:
                    type: integer
                    format: int32
                    description: current-page
                  next-page:
                    type: integer
                    format: int32
                    description: next-page
                  prev-page:
                    type: integer
                    format: int32
                    description: prev-page
                  total-pages:
                    type: integer
                    format: int32
                    description: total-pages
                  total-count:
                    type: integer
                    format: int32
                    description: total-count
                  filters:
                    type: object
                    properties: {}
                    description: filters
                description: meta
              links:
                type: object
                properties:
                  self:
                    type: string
                    description: self
                  first:
                    type: string
                    description: first
                  prev:
                    type: string
                    description: prev
                  next:
                    type: string
                    description: next
                  last:
                    type: string
                    description: last
                description: links
      summary: List Organization Statuses
      operationId: List-organization-statuses
      description: |-
        Returns a list of the organization statuses in your account.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
      parameters:
        - name: 'filter[name]'
          in: query
          type: string
          required: false
          description: Filter the list by the Name field (exact match) of the organization status.
        - name: sort
          in: query
          type: string
          enum:
            - name
            - id
            - created_at
            - updated_at
            - '-name'
            - '-id'
            - '-created_at'
            - '-updated_at'
          description: 'Sort the returned list ascending by the selected field, or descending if the negative field selected (e.g. -name) '
        - name: page-size
          default: 1000
          in: query
          type: integer
          required: false
          format: int32
        - name: page-number
          default: 1
          in: query
          type: integer
          required: false
          format: int32
      tags:
        - Organization Statuses
    post:
      responses:
        '200':
          description: default
          schema: {}
      summary: Create an Organization Status
      description: |-
        Creates a new organization status in your account. Returns the created object if successful.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
      operationId: Post-organization-status
      parameters:
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    description: type
                    title: ''
                    x-ms-visibility: internal
                    default: organization-statuses
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                        description: name
                    description: attributes
                description: data
                required:
                  - type
            required:
              - data
      tags:
        - Organization Statuses
  '/organization_statuses/{object_id}':
    get:
      parameters:
        - $ref: '#/parameters/object_id'
      responses:
        '200':
          description: default
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  id:
                    type: string
                    description: id
                  type:
                    type: string
                    description: type
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                        description: name
                      created-at:
                        type: string
                        description: created-at
                      updated-at:
                        type: string
                        description: updated-at
                    description: attributes
                description: data
      summary: Get an Organization Status
      description: |-
        Returns the details of an existing organization status.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
      operationId: Get-organization-status
      tags:
        - Organization Statuses
    patch:
      responses:
        '200':
          description: default
          schema: {}
      summary: Update an Organization Status
      description: |-
        Updates an organization status in your account. Returns 422 Bad Request error if trying to update an externally synced record.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
      operationId: Patch-organization-status
      parameters:
        - $ref: '#/parameters/object_id'
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    description: type
                    title: ''
                    x-ms-visibility: internal
                    default: organization_statuses
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                        description: name
                    description: attributes
                description: data
                required:
                  - type
            required:
              - data
      tags:
        - Organization Statuses
    parameters: []
  '/flexible_asset_types/{object_id}':
    get:
      responses:
        '200':
          description: default
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  id:
                    type: string
                    description: id
                  type:
                    type: string
                    description: type
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                        description: name
                      description:
                        type: string
                        description: description
                      created-at:
                        type: string
                        description: created-at
                      updated-at:
                        type: string
                        description: updated-at
                      icon:
                        type: string
                        description: icon
                      show-in-menu:
                        type: boolean
                        description: show-in-menu
                    description: attributes
                  relationships:
                    type: object
                    properties:
                      flexible-asset-fields:
                        type: object
                        properties:
                          data:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: id
                                type:
                                  type: string
                                  description: type
                            description: data
                        description: flexible-asset-fields
                    description: relationships
                description: data
              included:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int32
                      description: id
                    type:
                      type: string
                      description: type
                    attributes:
                      type: object
                      properties:
                        flexible-asset-type-id:
                          type: integer
                          format: int32
                          description: flexible-asset-type-id
                        order:
                          type: integer
                          format: int32
                          description: order
                        name:
                          type: string
                          description: name
                        kind:
                          type: string
                          description: kind
                        hint:
                          type: string
                          description: hint
                        decimals:
                          type: integer
                          format: int32
                          description: decimals
                        default-value:
                          type: string
                          description: default-value
                        tag-type:
                          type: string
                          description: tag-type
                        required:
                          type: boolean
                          description: required
                        use-for-title:
                          type: boolean
                          description: use-for-title
                        expiration:
                          type: boolean
                          description: expiration
                        show-in-list:
                          type: boolean
                          description: show-in-list
                        name-key:
                          type: string
                          description: name-key
                        created-at:
                          type: string
                          description: created-at
                        updated-at:
                          type: string
                          description: updated-at
                      description: attributes
                    relationships:
                      type: object
                      properties:
                        flexible-asset-type:
                          type: object
                          properties:
                            data:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: id
                                type:
                                  type: string
                                  description: type
                              description: data
                          description: flexible-asset-type
                      description: relationships
                description: included
      summary: Get a Flexible Asset Type
      description: |-
        Returns the details of an existing flexible asset type.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
      operationId: Get_flexible_asset_type
      parameters:
        - $ref: '#/parameters/object_id'
        - name: include
          in: query
          required: false
          type: string
          enum:
            - flexible_asset_fields
      tags:
        - Flexible Asset Types
    parameters: []
  '/{resource_type}/{resource_id}/relationships/attachments':
    post:
      summary: Create an Attachment for a particular Resource
      operationId: Post_attachment
      tags:
        - Attachments
      responses:
        '200':
          description: OK
          schema:
            description: ''
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    minLength: 1
                  attributes:
                    type: object
                    properties:
                      id:
                        type: number
                    required:
                      - id
                required:
                  - type
                  - attributes
            required:
              - data
          examples: {}
        '401':
          description: Unauthorized
          schema:
            type: object
            properties: {}
        '403':
          description: Forbidden
          schema:
            type: object
            properties: {}
        '415':
          description: Unsupported Media Type
          schema:
            type: object
            properties: {}
        '422':
          description: Unprocessable Entity (WebDAV)
          schema:
            type: object
            properties: {}
      description: |-
        Attaches a file to the asset specified in the ID parameter. Returns the created object if successful. Can also be used to add multiple attachments to an asset in bulk.

        Attachments are uploaded by including media data on the asset the attachment is associated with. Attachments can be encoded and passed in JSON format for direct upload, in which case the file has to be strict encoded. You need to convert it using something like www.freeformatter.com/base64-encoder.html. This produces a string of text that goes into the content field. Note that the name of the attachment displayed on the asset view screen will be taken from the file_name attribute.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
      parameters:
        - in: path
          name: resource_type
          type: string
          enum:
            - checklists
            - checklist_templates
            - configurations
            - contacts
            - documents
            - domains
            - locations
            - passwords
            - ssl_certificates
            - flexible_assets
            - tickets
          required: true
          description: The resource type of the parent resource
        - in: path
          name: resource_id
          type: integer
          description: The resource id of the parent resource.
          required: true
        - in: body
          name: body
          schema:
            description: ''
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    minLength: 1
                  attributes:
                    type: object
                    properties:
                      attachment:
                        type: object
                        properties:
                          content:
                            type: string
                            minLength: 1
                          file_name:
                            type: string
                            minLength: 1
                        required:
                          - content
                          - file_name
                    required:
                      - attachment
                required:
                  - type
                  - attributes
            required:
              - data
          x-examples: {}
          description: 'The request body must contain a JSON object. To create multiple attachments, provide an array of JSON objects.'
    delete:
      summary: Delete multiple Attachments for a particular Resource
      operationId: Delete_attachments
      tags:
        - Attachments
      responses:
        '200':
          description: OK
          schema:
            description: ''
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    minLength: 1
                  attributes:
                    type: object
                    properties:
                      id:
                        type: number
                    required:
                      - id
                required:
                  - type
                  - attributes
            required:
              - data
          examples: {}
        '401':
          description: Unauthorized
          schema:
            type: object
            properties: {}
        '404':
          description: Not Found
          schema:
            type: object
            properties: {}
        '415':
          description: Bad Content Type
          schema:
            type: object
            properties: {}
        '422':
          description: Bad Request
          schema:
            type: object
            properties: {}
      description: |-
        Deletes one or more specified attachments. Returns the deleted attachments and a 200 status code if successful.



        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
      parameters:
        - in: path
          name: resource_type
          type: string
          enum:
            - checklists
            - checklist_templates
            - configurations
            - contacts
            - documents
            - domains
            - locations
            - passwords
            - ssl_certificates
            - flexible_assets
            - tickets
          required: true
          description: The resource type of the parent resource
        - in: path
          name: resource_id
          type: integer
          description: The resource id of the parent resource.
          required: true
        - in: body
          name: body
          schema:
            description: ''
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    minLength: 1
                  attributes:
                    type: object
                    properties:
                      id:
                        type: number
                    required:
                      - id
                required:
                  - type
                  - attributes
            required:
              - data
          x-examples: {}
          description: 'Data may contain a single object to delete one attachment, or an array of objects to delete multiple attachments.'
  '/{resource_type}/{resource_id}/relationships/attachments/{object_id}':
    patch:
      summary: Update an Attachment for a particular Resource
      operationId: Patch_attachment
      tags:
        - Attachments
      responses:
        '200':
          description: OK
          examples: {}
          schema:
            description: ''
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    minLength: 1
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                        minLength: 1
                    required:
                      - name
                required:
                  - type
                  - attributes
            required:
              - data
        '401':
          description: Unauthorized
          schema:
            type: object
            properties: {}
        '403':
          description: Forbidden
          schema:
            type: object
            properties: {}
        '415':
          description: Bad Content Type
          schema:
            type: object
            properties: {}
        '422':
          description: Bad Request
          schema:
            type: object
            properties: {}
      description: |-
        Updates the details of an existing attachment. Only the attachment name that is displayed on the asset view screen can be changed. The original file_name can't be changed.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
      parameters:
        - $ref: '#/parameters/object_id'
        - in: path
          name: resource_type
          type: string
          enum:
            - checklists
            - checklist_templates
            - configurations
            - contacts
            - documents
            - domains
            - locations
            - passwords
            - ssl_certificates
            - flexible_assets
            - tickets
          required: true
          description: The resource type of the parent resource
        - in: path
          name: resource_id
          type: integer
          description: The resource id of the parent resource.
          required: true
        - in: body
          name: body
          schema:
            description: ''
            type: object
            properties:
              data:
                type: object
                required:
                  - type
                  - attributes
                properties:
                  type:
                    type: string
                    minLength: 1
                    enum:
                      - attachments
                  attributes:
                    type: object
                    required:
                      - name
                    properties:
                      name:
                        type: string
                        minLength: 1
            required:
              - data
          description: The request body must contain a JSON object.
          x-examples: {}
  /configuration_interfaces:
    post:
      summary: Create a Configuration Interface
      operationId: Post_configuration_interface
      responses:
        '200':
          description: OK
      tags:
        - Configuration Interfaces
      description: |-
        Creates a new configuration interface under the configuration specified in the ID parameter. Returns the created object if successful. Use the nested relationships route to add multiple configuration interfaces to a configuration in bulk.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
    patch:
      summary: Update multiple Configuration Interfaces
      operationId: Patch_configuration_interfaces
      responses:
        '200':
          description: OK
      tags:
        - Configuration Interfaces
      description: |-
        Updates a list of configuration interfaces, also known as bulk updating. Bulk updates using a nested relationships route are not supported. Returns 422 Bad Request error if trying to update an externally synced, primary IP address.

        The bulk update PATCH format is one that is similar to the response returned from a GET on a list resource. It will accept a partial representation of objects, as long as the required parameters are present. Any attributes you don't specify will remain unchanged.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
  '/configuration_interfaces/{object_id}':
    get:
      parameters:
        - $ref: '#/parameters/object_id'
      summary: Get a Configuration Interface
      tags:
        - Configuration Interfaces
      responses:
        '200':
          description: default
      operationId: Get_configuration_interface_global
      description: |-
        Returns the details of an existing configuration interface.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
    patch:
      parameters:
        - $ref: '#/parameters/object_id'
      summary: Update a Configuration Interface
      operationId: Patch_configuration_interface
      responses:
        '200':
          description: OK
      tags:
        - Configuration Interfaces
      description: |-
        Updates the details of an existing configuration interface. Returns 422 Bad Request error if trying to update an externally synced, primary IP address.

        A PATCH request does not require that the entire object resource with all of its attributes be enclosed. Any attributes you don't specify will remain unchanged.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
  /configuration_statuses:
    get:
      summary: List Configuration Statuses
      tags:
        - Configuration Statuses
      responses:
        '200':
          description: default
      operationId: List_configuration_statuses
      description: |-
        Returns a list of the configuration statuses in your account.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
    post:
      summary: Create a Configuration Status
      operationId: Post_configuration_status
      responses:
        '200':
          description: OK
      tags:
        - Configuration Statuses
      description: |-
        Creates a new configuration status in your account. Returns the created object if successful.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
  '/configuration_statuses/{object_id}':
    get:
      summary: Get a Configuration Status
      tags:
        - Configuration Statuses
      responses:
        '200':
          description: default
      operationId: Get_configuration_status
      description: |-
        Returns the details of an existing configuration status.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
      parameters:
        - $ref: '#/parameters/object_id'
    patch:
      summary: Update a Configuration Status
      operationId: Patch_configuration_status
      parameters:
        - $ref: '#/parameters/object_id'
      responses:
        '200':
          description: OK
      tags:
        - Configuration Statuses
      description: |-
        Updates a configuration status in your account. Returns 422 Bad Request error if trying to update an externally synced record.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
  /configurations:
    get:
      summary: List Configurations
      tags:
        - Configurations
      responses:
        '200':
          description: default
      operationId: Get_configurations
      description: |-
        Returns a list of configurations for all organizations or for a specified organization.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
    post:
      summary: Create a Configuration
      operationId: Post_configuration
      responses:
        '200':
          description: OK
      tags:
        - Configurations
      description: |-
        Creates a configuration under the organization specified in the ID parameter. Returns the created object if successful. Use the nested relationships route to add multiple configurations to an organization in bulk.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
    patch:
      summary: Update multiple Configurations
      operationId: Patch_configurations
      responses:
        '200':
          description: OK
      tags:
        - Configurations
      description: |-
[...]
