swagger: '2.0'
info:
  version: 1.0.0
  title: IT Glue
  description: |-
    # IT Glue Power Platform Endpoints

    For API  support, contact IT Glue directly.

    [IT Glue Power Platform Endpoints Wiki](https://github.com/jeremyhodge/itglue-openapi/wiki/IT-Glue-Open-API---Power-Platform-Custom-Connector) 

    Copyright 2021 ZetaOne, Inc.
    Author: Jeremy G Hodge mailto:jeremy.hodge@zetaone.com

    Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.
  contact:
    name: IT Glue
    url: 'http://www.itglue.com'
    email: support@itglue.com
  termsOfService: 'https://api.itglue.com/developer'
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0'
host: api.itglue.com
schemes:
  - https
consumes: []
produces:
  - application/json
paths:
  /organizations:
    get:
      responses:
        '200':
          description: default
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: id
                    type:
                      type: string
                      description: type
                    attributes:
                      type: object
                      properties:
                        psa-integration:
                          type: string
                          description: psa-integration
                        name:
                          type: string
                          description: name
                        alert:
                          type: string
                          description: alert
                        description:
                          type: string
                          description: description
                        organization-type-id:
                          type: integer
                          format: int32
                          description: organization-type-id
                        organization-type-name:
                          type: string
                          description: organization-type-name
                        organization-status-id:
                          type: integer
                          format: int32
                          description: organization-status-id
                        organization-status-name:
                          type: string
                          description: organization-status-name
                        my-glue-account-id:
                          type: string
                          description: my-glue-account-id
                        primary:
                          type: boolean
                          description: primary
                        quick-notes:
                          type: string
                          description: quick-notes
                        short-name:
                          type: string
                          description: short-name
                        created-at:
                          type: string
                          description: created-at
                        updated-at:
                          type: string
                          description: updated-at
                        my-glue-account-status:
                          type: string
                          description: my-glue-account-status
                        logo:
                          type: string
                          description: logo
                      description: attributes
                    relationships:
                      type: object
                      properties:
                        adapters-resources:
                          type: object
                          properties:
                            data:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: id
                                  type:
                                    type: string
                                    description: type
                              description: data
                          description: adapters-resources
                      description: relationships
                description: data
              meta:
                type: object
                properties:
                  current-page:
                    type: integer
                    format: int32
                    description: current-page
                  next-page:
                    type: integer
                    format: int32
                    description: next-page
                  prev-page:
                    type: integer
                    format: int32
                    description: prev-page
                  total-pages:
                    type: integer
                    format: int32
                    description: total-pages
                  total-count:
                    type: integer
                    format: int32
                    description: total-count
                  filters:
                    type: object
                    properties:
                      id:
                        type: object
                        properties:
                          permitted-values:
                            type: array
                            items: {}
                            description: permitted-values
                        description: id
                      name:
                        type: object
                        properties:
                          permitted-values:
                            type: array
                            items: {}
                            description: permitted-values
                        description: name
                      organization-type-id:
                        type: object
                        properties:
                          permitted-values:
                            type: array
                            items:
                              type: object
                              properties:
                                value:
                                  type: integer
                                  format: int32
                                  description: value
                                data:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                      description: name
                                  description: data
                            description: permitted-values
                        description: organization-type-id
                      organization-status-id:
                        type: object
                        properties:
                          permitted-values:
                            type: array
                            items:
                              type: object
                              properties:
                                value:
                                  type: integer
                                  format: int32
                                  description: value
                                data:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                      description: name
                                  description: data
                            description: permitted-values
                        description: organization-status-id
                      created-at:
                        type: object
                        properties:
                          permitted-values:
                            type: array
                            items: {}
                            description: permitted-values
                        description: created-at
                      updated-at:
                        type: object
                        properties:
                          permitted-values:
                            type: array
                            items: {}
                            description: permitted-values
                        description: updated-at
                      my-glue-account-id:
                        type: object
                        properties:
                          permitted-values:
                            type: array
                            items: {}
                            description: permitted-values
                        description: my-glue-account-id
                    description: filters
                description: meta
              links:
                type: object
                properties:
                  self:
                    type: string
                    description: self
                  first:
                    type: string
                    description: first
                  prev:
                    type: string
                    description: prev
                  next:
                    type: string
                    description: next
                  last:
                    type: string
                    description: last
                description: links
      summary: List Organizations
      description: |-
        Returns a list of organizations in your account.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
      operationId: List_organizations
      parameters:
        - name: 'filter[id]'
          in: query
          required: false
          type: integer
        - name: 'filter[exclude][id]'
          in: query
          required: false
          type: integer
        - name: 'filter[name]'
          in: query
          required: false
          type: string
        - name: 'filter[exclude][name]'
          in: query
          required: false
          type: string
        - name: 'filter[organization_type_id]'
          in: query
          required: false
          type: integer
        - name: 'filter[exclude][organization_type_id]'
          in: query
          required: false
          type: integer
        - name: 'filter[organization_status_id]'
          in: query
          required: false
          type: integer
        - name: 'filter[exclude][organization_status_id]'
          in: query
          required: false
          type: integer
        - name: 'filter[created_at]'
          in: query
          required: false
          type: string
        - name: 'filter[updated_at]'
          in: query
          required: false
          type: string
        - name: 'filter[my_glue_account_id]'
          in: query
          required: false
          type: integer
        - name: 'filter[range][my_glue_account_id]'
          in: query
          required: false
          type: string
        - name: 'filter[psa_id]'
          in: query
          required: false
          type: string
        - name: 'filter[psa_integration_type]'
          in: query
          required: false
          type: string
          enum:
            - manage
            - autotask
            - tigerpaw
            - kaseya-bms
            - pulseway-psa
            - vorex
        - name: 'filter[group_id]'
          in: query
          required: false
          type: integer
        - name: sort
          in: query
          type: string
          required: false
          enum:
            - name
            - id
            - created_at
            - updated_at
            - organization_status_name
            - organization_type_name
            - short_name
            - my_glue_account_id
            - '-name'
            - '-id'
            - '-created_at'
            - '-updated_at'
            - '-organization_status_name'
            - '-organization_type_name'
            - '-short_name'
            - '-my_glue_account_id'
          description: 'Sort the returned list ascending by the selected field, or descending if the negative field selected (e.g. -name) '
        - name: page-size
          in: query
          required: false
          type: integer
        - name: page-number
          in: query
          required: false
          type: integer
        - name: include
          in: query
          required: false
          type: string
          enum:
            - adapters_resources
            - attachments
      tags:
        - Organizations
    post:
      responses:
        '200':
          description: default
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    description: type
                  attributes:
                    type: object
                    properties:
                      id:
                        type: integer
                        format: int32
                        description: id
                      name:
                        type: string
                        description: name
                      alert:
                        type: string
                        description: alert
                      description:
                        type: string
                        description: description
                      organization-type-id:
                        type: integer
                        format: int32
                        description: organization-type-id
                      organization-status-id:
                        type: integer
                        format: int32
                        description: organization-status-id
                      quick-notes:
                        type: string
                        description: quick-notes
                      short_name:
                        type: string
                        description: short_name
                    description: attributes
                description: data
      summary: Create an Organization
      operationId: Post_organization
      description: |-
        Creates an organization. Returns the created object if successful.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
      parameters:
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    description: type
                    title: ''
                    x-ms-visibility: internal
                    default: organizations
                  attributes:
                    type: object
                    properties:
                      id:
                        type: integer
                        format: int32
                        description: id
                      name:
                        type: string
                        description: name
                        title: ''
                      alert:
                        type: string
                        description: alert
                      description:
                        type: string
                        description: description
                      organization-type-id:
                        type: integer
                        format: int32
                        description: organization-type-id
                      organization-status-id:
                        type: integer
                        format: int32
                        description: organization-status-id
                      quick-notes:
                        type: string
                        description: quick-notes
                      short_name:
                        type: string
                        description: short_name
                    description: attributes
                    required:
                      - name
                description: data
                required:
                  - attributes
                  - type
            required:
              - data
      tags:
        - Organizations
  '/organizations/{object_id}':
    get:
      responses:
        '200':
          description: default
          schema: {}
      summary: Get an Organization
      description: |-
        Returns the details of an existing organization.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
      operationId: Get-organization
      parameters:
        - $ref: '#/parameters/object_id'
        - name: include
          in: query
          required: false
          type: string
          description: Comma separated list of values to expand and include the related items. Values must be one of adapters_resources or attachments
          format: string
      tags:
        - Organizations
    patch:
      responses:
        '200':
          description: default
          schema: {}
      summary: Update an Organization
      description: |-
        Updates the details of an existing organization. Returns 422 Bad Request error if trying to update an externally synced record on attributes other than: alert, description, quick_notes. A PATCH request does not require that the entire object resource with all of its attributes be enclosed. Any attributes you don't specify will remain unchanged.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
      operationId: Patch-organization
      parameters:
        - $ref: '#/parameters/object_id'
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    description: Record Type
                    title: type
                    x-ms-visibility: internal
                    default: organizations
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                        description: name
                      alert:
                        type: string
                        description: alert
                      description:
                        type: string
                        description: description
                      short_name:
                        type: string
                        description: short_name
                      organization-type-id:
                        type: integer
                        format: int32
                        description: organization-type-id
                      organization-status-id:
                        type: integer
                        format: int32
                        description: organization-status-id
                      quick-notes:
                        type: string
                        description: quick-notes
                      short-name:
                        type: string
                        description: short-name
                    description: attributes
                description: data
                required:
                  - type
            required:
              - data
      tags:
        - Organizations
    parameters: []
  /configuration_interfaces:
    post:
      summary: Create a Configuration Interface
      operationId: Post_configuration_interface
      responses:
        '200':
          description: OK
      tags:
        - Configuration Interfaces
      description: |-
        Creates a new configuration interface under the configuration specified in the ID parameter. Returns the created object if successful. Use the nested relationships route to add multiple configuration interfaces to a configuration in bulk.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
    patch:
      summary: Update multiple Configuration Interfaces
      operationId: Patch_configuration_interfaces
      responses:
        '200':
          description: OK
      tags:
        - Configuration Interfaces
      description: |-
        Updates a list of configuration interfaces, also known as bulk updating. Bulk updates using a nested relationships route are not supported. Returns 422 Bad Request error if trying to update an externally synced, primary IP address.

        The bulk update PATCH format is one that is similar to the response returned from a GET on a list resource. It will accept a partial representation of objects, as long as the required parameters are present. Any attributes you don't specify will remain unchanged.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
  '/configuration_interfaces/{object_id}':
    get:
      parameters:
        - $ref: '#/parameters/object_id'
      summary: Get a Configuration Interface
      tags:
        - Configuration Interfaces
      responses:
        '200':
          description: default
      operationId: Get_configuration_interface_global
      description: |-
        Returns the details of an existing configuration interface.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
    patch:
      parameters:
        - $ref: '#/parameters/object_id'
      summary: Update a Configuration Interface
      operationId: Patch_configuration_interface
      responses:
        '200':
          description: OK
      tags:
        - Configuration Interfaces
      description: |-
        Updates the details of an existing configuration interface. Returns 422 Bad Request error if trying to update an externally synced, primary IP address.

        A PATCH request does not require that the entire object resource with all of its attributes be enclosed. Any attributes you don't specify will remain unchanged.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector        
  '/{resource_type}/{resource_id}/relationships/attachments':
    post:
      summary: Create an Attachment for a particular Resource
      operationId: Post_attachment
      tags:
        - Attachments
      responses:
        '200':
          description: OK
          schema:
            description: ''
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    minLength: 1
                  attributes:
                    type: object
                    properties:
                      id:
                        type: number
                    required:
                      - id
                required:
                  - type
                  - attributes
            required:
              - data
          examples: {}
        '401':
          description: Unauthorized
          schema:
            type: object
            properties: {}
        '403':
          description: Forbidden
          schema:
            type: object
            properties: {}
        '415':
          description: Unsupported Media Type
          schema:
            type: object
            properties: {}
        '422':
          description: Unprocessable Entity (WebDAV)
          schema:
            type: object
            properties: {}
      description: |-
        Attaches a file to the asset specified in the ID parameter. Returns the created object if successful. Can also be used to add multiple attachments to an asset in bulk.

        Attachments are uploaded by including media data on the asset the attachment is associated with. Attachments can be encoded and passed in JSON format for direct upload, in which case the file has to be strict encoded. You need to convert it using something like www.freeformatter.com/base64-encoder.html. This produces a string of text that goes into the content field. Note that the name of the attachment displayed on the asset view screen will be taken from the file_name attribute.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
      parameters:
        - in: path
          name: resource_type
          type: string
          enum:
            - checklists
            - checklist_templates
            - configurations
            - contacts
            - documents
            - domains
            - locations
            - passwords
            - ssl_certificates
            - flexible_assets
            - tickets
          required: true
          description: The resource type of the parent resource
        - in: path
          name: resource_id
          type: integer
          description: The resource id of the parent resource.
          required: true
        - in: body
          name: body
          schema:
            description: ''
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    minLength: 1
                  attributes:
                    type: object
                    properties:
                      attachment:
                        type: object
                        properties:
                          content:
                            type: string
                            minLength: 1
                          file_name:
                            type: string
                            minLength: 1
                        required:
                          - content
                          - file_name
                    required:
                      - attachment
                required:
                  - type
                  - attributes
            required:
              - data
          x-examples: {}
          description: 'The request body must contain a JSON object. To create multiple attachments, provide an array of JSON objects.'
    delete:
      summary: Delete multiple Attachments for a particular Resource
      operationId: Delete_attachments
      tags:
        - Attachments
      responses:
        '200':
          description: OK
          schema:
            description: ''
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    minLength: 1
                  attributes:
                    type: object
                    properties:
                      id:
                        type: number
                    required:
                      - id
                required:
                  - type
                  - attributes
            required:
              - data
          examples: {}
        '401':
          description: Unauthorized
          schema:
            type: object
            properties: {}
        '404':
          description: Not Found
          schema:
            type: object
            properties: {}
        '415':
          description: Bad Content Type
          schema:
            type: object
            properties: {}
        '422':
          description: Bad Request
          schema:
            type: object
            properties: {}
      description: |-
        Deletes one or more specified attachments. Returns the deleted attachments and a 200 status code if successful.



        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
      parameters:
        - in: path
          name: resource_type
          type: string
          enum:
            - checklists
            - checklist_templates
            - configurations
            - contacts
            - documents
            - domains
            - locations
            - passwords
            - ssl_certificates
            - flexible_assets
            - tickets
          required: true
          description: The resource type of the parent resource
        - in: path
          name: resource_id
          type: integer
          description: The resource id of the parent resource.
          required: true
        - in: body
          name: body
          schema:
            description: ''
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    minLength: 1
                  attributes:
                    type: object
                    properties:
                      id:
                        type: number
                    required:
                      - id
                required:
                  - type
                  - attributes
            required:
              - data
          x-examples: {}
          description: 'Data may contain a single object to delete one attachment, or an array of objects to delete multiple attachments.'
  '/{resource_type}/{resource_id}/relationships/attachments/{object_id}':
    patch:
      summary: Update an Attachment for a particular Resource
      operationId: Patch_attachment
      tags:
        - Attachments
      responses:
        '200':
          description: OK
          examples: {}
          schema:
            description: ''
            type: object
            properties:
              data:
                type: object
                properties:
                  type:
                    type: string
                    minLength: 1
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                        minLength: 1
                    required:
                      - name
                required:
                  - type
                  - attributes
            required:
              - data
        '401':
          description: Unauthorized
          schema:
            type: object
            properties: {}
        '403':
          description: Forbidden
          schema:
            type: object
            properties: {}
        '415':
          description: Bad Content Type
          schema:
            type: object
            properties: {}
        '422':
          description: Bad Request
          schema:
            type: object
            properties: {}
      description: |-
        Updates the details of an existing attachment. Only the attachment name that is displayed on the asset view screen can be changed. The original file_name can't be changed.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
      parameters:
        - $ref: '#/parameters/object_id'
        - in: path
          name: resource_type
          type: string
          enum:
            - checklists
            - checklist_templates
            - configurations
            - contacts
            - documents
            - domains
            - locations
            - passwords
            - ssl_certificates
            - flexible_assets
            - tickets
          required: true
          description: The resource type of the parent resource
        - in: path
          name: resource_id
          type: integer
          description: The resource id of the parent resource.
          required: true
        - in: body
          name: body
          schema:
            description: ''
            type: object
            properties:
              data:
                type: object
                required:
                  - type
                  - attributes
                properties:
                  type:
                    type: string
                    minLength: 1
                    enum:
                      - attachments
                  attributes:
                    type: object
                    required:
                      - name
                    properties:
                      name:
                        type: string
                        minLength: 1
            required:
              - data
          description: The request body must contain a JSON object.
          x-examples: {}
  /configurations:
    get:
      summary: List Configurations
      tags:
        - Configurations
      responses:
        '200':
          description: default
      operationId: Get_configurations
      description: |-
        Returns a list of configurations for all organizations or for a specified organization.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
    post:
      summary: Create a Configuration
      operationId: Post_configuration
      responses:
        '200':
          description: OK
      tags:
        - Configurations
      description: |-
        Creates a configuration under the organization specified in the ID parameter. Returns the created object if successful. Use the nested relationships route to add multiple configurations to an organization in bulk.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
    patch:
      summary: Update multiple Configurations
      operationId: Patch_configurations
      responses:
        '200':
          description: OK
      tags:
        - Configurations
      description: |-
        Updates a list of items, also known as bulk updating. Bulk updates using a nested relationships route are not supported. Returns 403 Forbidden error if any relationships are present in the request. Returns 422 Bad Request error if trying to update an externally synced record on attributes other than: archived, asset_tag, notes, purchased_at, restricted, serial_number, warranty_expires_at

        The bulk update PATCH format is one that is similar to the response returned from a GET on a list resource. It will accept a partial representation of objects, as long as the required parameters are present. Any attributes you don't specify will remain unchanged.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
    delete:
      summary: Delete multiple Configurations
      operationId: Delete_configurations
      responses:
        '200':
          description: OK
      tags:
        - Configurations
      description: |-
        Deletes one or more specified configurations. Returns the deleted configurations and a 200 status code if successful.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
  '/configurations/{object_id}':
    get:
      summary: Get a Configuration
      parameters:
        - $ref: '#/parameters/object_id'
      tags:
        - Configurations
      responses:
        '200':
          description: default
      operationId: Get_configuration
      description: |-
        Returns the details of an existing configuration.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
    patch:
      summary: Update a Configuration
      operationId: Patch_configuration
      parameters:
        - $ref: '#/parameters/object_id'
      responses:
        '200':
          description: OK
      tags:
        - Configurations
      description: |-
        Updates the details of an existing configuration. Returns 403 Forbidden error if any relationships are present in the request. Returns 422 Bad Request error if trying to update an externally synced record on attributes other than: archived, asset_tag, notes, purchased_at, restricted, serial_number, warranty_expires_at

        A PATCH request does not require that the entire object resource with all of its attributes be enclosed. Any attributes you don't specify will remain unchanged.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
  /contact_types:
    get:
      summary: List Contact Types
      tags:
        - Contact Types
      responses:
        '200':
          description: default
      operationId: List_contact_types
      description: |-
        Returns a list of contact types in your account.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
    post:
      summary: Create a Contact Type
      operationId: Post_contact_type
      responses:
        '200':
          description: OK
      tags:
        - Contact Types
      description: |-
        Creates a new contact type in your account. Returns the created object if successful.



        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
  '/contact_types/{object_id}':
    get:
      summary: Get a Contact Type
      tags:
        - Contact Types
      parameters:
        - $ref: '#/parameters/object_id'
      responses:
        '200':
          description: default
      operationId: Get_contact_type
      description: |-
        Returns the details of an existing contact type.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
    patch:
      summary: Update a Contact Type
      operationId: Patch_contact_type
      parameters:
        - $ref: '#/parameters/object_id'
      responses:
        '200':
          description: OK
      tags:
        - Contact Types
      description: |-
        Updates a contact type in your account. Returns 422 Bad Request error if trying to update an externally synced record.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
  /contacts:
    get:
      summary: List Contacts
      tags:
        - Contacts
      responses:
        '200':
          description: default
      operationId: List_contacts
      description: |-
        Returns a list of contacts for all organizations or for a specified organization.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
    post:
      summary: Create a Contact
      operationId: Post_contact
      responses:
        '200':
          description: OK
      tags:
        - Contacts
      description: |-
        Creates a contact under the organization specified in the ID parameter. Returns the created object if successful. Use the nested relationships route to add multiple contacts to an organization in bulk.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
    patch:
      summary: Update multiple Contacts
      operationId: Patch_contacts
      responses:
        '200':
          description: OK
      tags:
        - Contacts
      description: |-
        Updates a list of contacts, also known as bulk updating. Bulk updates using a nested relationships route are not supported. Returns 422 Bad Request error if trying to update an externally synced record.

        The bulk update PATCH format is one that is similar to the response returned from a GET on a list resource. It will accept a partial representation of objects, as long as the required parameters are present. Any attributes you don't specify will remain unchanged.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
    delete:
      summary: Delete multiple Contacts
      operationId: Delete_contacts
      responses:
        '200':
          description: OK
      tags:
        - Contacts
      description: |-
        Deletes one or more specified contacts. Returns the deleted contacts and a 200 status code if successful.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
  '/contacts/{object_id}':
    get:
      summary: Get a Contact
      parameters:
        - $ref: '#/parameters/object_id'
      tags:
        - Contacts
      responses:
        '200':
          description: default
      operationId: Get_contact
      description: |-
        Retrieve a contact for a particular organization.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
    patch:
      summary: Update a Contact
      parameters:
        - $ref: '#/parameters/object_id'
      operationId: Patch_contact
      responses:
        '200':
          description: OK
      tags:
        - Contacts
      description: |-
        Updates the details of an existing contact. Returns 422 Bad Request error if trying to update an externally synced record.

        A PATCH request does not require that the entire object resource with all of its attributes be enclosed. Any attributes you don't specify will remain unchanged.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
  /documents:
    patch:
      summary: Update multiple Documents
      operationId: Patch_documents
      responses:
        '200':
          description: OK
      description: |-
        Updates a list of items, also known as bulk updating.

        The bulk update PATCH format is one that is similar to the response returned from a GET on a list resource. It will accept a partial representation of objects, as long as the required parameters are present. Any attributes you don't specify will remain unchanged.

        Bulk updates using a nested relationships route are not supported.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
      tags:
        - Documents
  '/documents/{object_id}':
    patch:
      summary: Update a Document
      operationId: Patch_document
      parameters:
        - $ref: '#/parameters/object_id'
      responses:
        '200':
          description: OK
      tags:
        - Documents
      description: |-
        Updates an existing document. Returns the updated object if successful.

        A PATCH request does not require that the entire object resource with all of its attributes be enclosed. Any attributes you don't specify will remain unchanged.



        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
  '/configurations/{parent_id}/relationships/configuration_interfaces/{object_id}':
    get:
      summary: Get a Configuration Interface
      parameters:
        - $ref: '#/parameters/parent_id'
        - $ref: '#/parameters/object_id'
      tags:
        - Configurations
        - Configuration Interfaces
      responses:
        '200':
          description: default
      operationId: Get_configuration_interface_from_parent
      description: |-
        Returns the details of an existing configuration interface.


        > NOT COMPLETE.
        >
        > 1. Verify Summary
        > 1. Verify Description
        > 1. Verify OperationID naming and format conventions
        > 1. Verify Query Parameters
        > 1. Separate local vs global params
        > 1. For Requests, verify JSON body schema
        > 1. Test Response / Gather response schema / Verify Response Codes
        > 1. Verify Response Schema / fully fleshed
        > 1. externalDocs
        > 1. x-ms-COLORATION
        >> 1. x-ms-summary
        >> 1. x-ms-visibility
        > 1. Test in Power Automate Custom Connector
definitions: {}
parameters:
  page-number:
    name: 'page[number]'
    in: query
    type: integer
    description: Return the Nth page based on page size
    x-ms-summary: Page Number
    x-ms-visibility: advanced
  page-size:
    name: 'page[size]'
    in: query
    required: false
    type: integer
    description: Number of rows to return per page
    x-ms-summary: Rows per Page
    x-ms-visibility: advanced
  object_id:
    name: object_id
    in: path
    required: true
    type: integer
    description: ID of the object
    x-ms-summary: Object ID
    x-ms-visibility: important
  parent_id:
    name: parent_id
    in: path
    required: true
    type: integer
    description: ID of the parent object
    x-ms-summary: Parent Object ID
    x-ms-visibility: important
responses: {}
securityDefinitions:
  API Key:
    type: apiKey
    in: header
    name: x-api-key
    description: Retreive and set the API Key from your IT Glue account.
security:
  - API Key: []
tags:
  - name: Attachments
    description: |-
      An attachment refers to a file upload associated with an asset.
      This resource allows you to manage all attachments in your account. Note that attachments are accessed from the relevant endpoints (GET /configurations, GET /passwords, etc.) using the include=attachments parameter to return the file attachments in the relationships attributes of the requested objects. Example: /configurations/1?include=attachments
      An attachment can belong to only one asset. Each asset can have relationships with one or more attachments.
  - name: Configurations
    description: |-
      A configuration refers to a device you manage for a client organization.
      The Configurations resource allows you to manage information about all configurations in your account.
      A configuration can belong to only one organization. Each configuration can have a primary IP address, a primary MAC address, plus one or more additional IP and MAC addresses that are maintained in a separate Configuration Interfaces resource.
  - name: Contacts
    description: |-
      A contact refers to a contact in a client organization.
      The Contacts resource allows you to manage information about all contacts in your account.
      A contact can belong to only one organization. Each contact can have one location, which is maintained as a separate Locations resource.
  - name: Countries
    description: |-
      A country refers to any distinct national entity.
      The Countries resource allows you to retrieve information about the country names that IT Glue supports. Country IDs can be used to POST new locations.
      Supported countries may be referenced by one or more locations. Each location can have one country, but it's not required.
  - name: Documents
    description: The Documents resource allows you to manage documents on your account.
  - name: Domains
    description: |-
      A domain refers to a domain name, such as example.com.
      The Domains resource allows you to manage information about all domains in your account.
      A domain can belong to only one organization.
  - name: Organizations
    description: |-
      An organization refers to a client company.
      The Organizations resource is used to manage information about organizations in your account.
      Keep in mind that an organization can have one or more sub-organizations, but there is currently no support in the API for assigning a parent to create new sub-organizations. You would need to manually complete this task from your IT Glue account.
  - name: Configuration Types
    description: |-
      A configuration type refers to the type categorization of a configuration, usually a type of device.
      This resource is used to manage information about configuration types for your account. Configuration type IDs can be used to POST new configurations.
      A configuration type may be referenced by one or more configurations. It's required that each configuration item have one configuration type.
  - name: Configuration Interfaces
    description: |-
      A configuration interface refers to an IP address for a networked device.
      This resource allows you to manage all IP and MAC addresses associated with the configurations in your account. Configuration interface IDs can be used to POST new configurations.
      A configuration interface can belong to only one configuration and can have only one IP address and one MAC address. Each configuration can have relationships with one or more configuration interfaces, one of which will be a primary interface.
      Note that when a configuration is created or updated with a new primary IP or MAC address, this creates or updates the configuration Interface object. If the primary IP or MAC address in the configuration interface object is updated, this also updates the primary IP or MAC address on the configuration.
  - name: Configuration Statuses
    description: |-
      A configuration status refers to the status that can be maintained on a configuration, for example, active or inactive.
      This resource is used to manage information about configuration statuses for your account. Configuration status IDs can be used to POST new configurations.
      A configuration status may be referenced by one ore more configurations. Each configuration can have one configuration status, but it's not required.
  - name: Contact Types
    description: |-
      A contact type refers to the type categorization of a contact, for example, an approver or an owner.
      This resource is used to manage information about contact types for your account. Contact type IDs can be used to POST new contacts.
      A contact type may be referenced by one or more contacts. Each contact can have one contact type, but it's not required.
  - name: Organization Types
    description: |-
      An organization type refers to the type categorization of an organization, for example, customer or vendor.
      This resource is used to manage information about organization types for your account. Organization type IDs can be used to POST new organizations.
      A organization type may be referenced by one or more organizations. Each organization can have one organization type, but it's not required.
  - name: Organization Statuses
    description: |-
      An organization status refers to the status that can be maintained on an organization, for example, active or inactive.
      This resource is used to manage information about organization statuses for your account. Organization status IDs can be used to POST new organizations.
      An organization status may be referenced by one ore more organizations. Each organization can have one organization status, but it's not required.
  - name: Flexible Asset Types
    description: |-
      A flexible asset type refers to a set of custom fields that can be used to generate structured documentation.
      This resource lets you create and access information about the flexible asset types in your account. Flexible asset type IDs and flexible asset field name-key values can be used to POST new flexible assets.
      The different flexible asset types let you document different parts of the IT infrastructure. For example, LAN is one flexible asset type, Backup is another, and Email yet another.
      Note that when a flexible asset type is created with a flexible asset field, this creates a flexible asset field object. If the flexible asset field object is updated, this also updates the flexible asset type.
  - name: Flexible Asset Fields
    description: |-
      A flexible asset field refers to a field in a flexible asset type.
      This resource lets you manage all of the flexible asset fields in your account. The name-key attributes of fields can be used to POST new flexible assets.
      Each flexible asset field has, at most, one immediate parent flexible asset type, and may be created after or at the same time as a new flexible asset type. Note: To avoid POST/PATCH errors, make sure that the name and order attributes are unique. In other words, no two fields with the same parent flexible asset type can have identical values for name or order. It's also required that at least one field has show-in-list set to true.
      To explore the different fields that are available, refer to our Flexible asset field definitions article.
